* {
    font-family: Calibri, Arial, sans-serif;
    color: black;
}

@media (min-width:1921px),
(min-height:1921px) {
    html {
        font-size: 20px;
    }
}

body {
    margin: 0;
    background-color: lightblue;
}

main {
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2 {
    color: darkblue;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 185, 228);
}

header a {
    width: 15vw;
    margin: 0
}

header img {
    width: clamp(0px, 100vw, 100%);
    margin: auto 0;

}

header h1 {
    width: 70vw;
    text-align: center;
    margin-right: 15vw;

}

@media (max-width:600px) {
    nav {
        display: none;
    }

    header {
        flex-direction: column;
    }

    .title {
        margin: 0;
    }

}

footer {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    flex-grow: 100;
}

article {
    width: 70vw !important;
}