header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 185, 228);
}

header img {
    width: 10vw;
    margin-right: 23vw;
}

header h1 {
    margin-left: 0;
    width: 33vw;
    text-align: center;
    margin-right: 33vw;

}

nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    gap: 3%
}

nav ul li {
    list-style: none;
    text-align: center;
    margin: 0;
}